body {
    background-color: #efe7ff !important;
}

.top-news-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: calc(500px + 1dvh);
}

.top-news-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.main-new {
    display: flex;
    flex-direction: column;
    justify-content: end;

    width: 150%;
    height: 100%;
    position: relative;

    background-color: rgb(62, 160, 205);
}

.sec-news {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.sec-new {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: end;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.top-new:hover {
    cursor: pointer;
}

.new2 {
    background-color: rgb(62, 205, 107);
}

.new3 {
    background-color: rgb(203, 205, 62);
}

.tnew-text-container {
    position: absolute;
    margin: 1rem;
}

.tnew-date {
    font-family: "Imprima";
    color: white;
    margin-bottom: 0;
    text-shadow: 0.2rem 0.2rem 5px rgba(0, 0, 0, 0.7);
}

.tnew-title {
    font-family: "Inria Sans";
    font-style: italic;
    font-weight: bold;
    color: white;
    text-overflow: ellipsis;
    margin-top: 0.25rem;
    text-shadow: 0.2rem 0.2rem 5px rgba(0, 0, 0, 0.7);
}

.tnew-title:hover {
    text-decoration: underline;
}

.new-title {
    font-family: "Inria Sans";
    font-style: italic;
    font-weight: bold;
    color: black;
    text-overflow: ellipsis;
    margin-top: 0.25rem;
}


.new-title a {
    text-decoration: none !important;
    color: rgba(0, 0, 0, 1) !important;
}

.new-title a:hover {
    text-decoration: underline !important;
}

.new-text-container {
    width: 75%;
    overflow: hidden;
}

.new-info-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.lower-news-info {
    flex-direction: row;
}

.new-row {
    display: flex;
    flex-wrap: wrap;
    margin-block: 1.5rem;
    height: calc(175px + 1dvh);
}

.new {
    display: flex;
    flex-basis: 45%;
    margin-inline: 1.5rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 100%;
}

.new-img-container {
    height: 100%;
    min-width: calc(300px * 1dvw);
    margin-right: 1rem;
}

.new-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new-date {
    font-family: "Imprima";
    color: black;
    margin-bottom: 0;
}

.new-type-box {
    text-decoration: none;
    padding-inline: 0.75rem;
    padding-block: 0.3rem;
    margin-right: 0.75rem;
    background-color: #000000;
}

.new-type-box:hover {
    cursor: pointer;
}

.new-type {
    font-family: "Inter";
    font-weight: bold;
    color: white;
    margin-bottom: 0;

    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.educación {
    background-color: #F5BE0B;
}

.ambiente {
    background-color: #43B82E;
}

.salud {
    background-color: #73A1E1;
}

.trabajo {
    background-color: #E173CB;
}

.cultura {
    background-color: #C12838;
}


@media only screen and (max-width:1000px) {
    .top-news-container {
        flex-direction: column;
        height: calc(950px + 1dvh);
    }
    
    .main-new {
        width: 100%;
        height: 150%;
    }

    .sec-news {
        flex-direction: row;
    }
}

@media only screen and (max-width:1100px) {
    .lower-news-info{
        flex-direction: column;
        align-items: baseline !important;
    }
}