#don-section {
    background-image: linear-gradient(#402F54, #C494EA);
}
.card-header{
    background-image: linear-gradient(45deg, #8D67BA, #C494EA);
}
#submit-donación{
    border-style: solid ;
    color: white ;
    background-image: linear-gradient(90deg, #8D67BA, #C494EA);
}