#inicio-btn{
    border-color: #8D67BA ;
    border-style: solid ;
    color: white ;
    background-image: linear-gradient(90deg, #8D67BA, #C494EA);
}

#reg-btn{
color: #8D67BA;
border-color: #8D67BA;
border-width: 1px;
}